*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: #cf8181;
}

.main-con{
  margin-top: 5rem;
}